body {
  background: #1b1b1b;
  color: white;
  font-family: Verdana, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #1e7dab;
}

a:hover {
  color: #064e8e;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.searchMovie {
  margin: 10px 0;
}

.searchMovie form {
  display: flex;
}

.searchMovie input {
  border-top: 1px solid #2f2f2f;
  border-left: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  border-right: none;
  background: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: #fff;
  width: 300px;
}

.searchMovie input:focus {
  outline: none;
  color: #fff;
}

.searchMovie button {
  background: #1e7dab;
  color: #fff;
  border: none;
  height: 29px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
}

.movieCollection {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  justify-content: center;
}

.movieCollection .movieItem {
  width: 250px;
  margin: 20px 10px;
}

.movieCollection .movieItem .poster {
  min-height: 378px;
}

.movieCollection .movieItem .poster:hover {
  opacity: 0.7;
}

.movieCollection .movieItem .poster img {
  width: 100%;
}

.movieCollection .movieItem .title {
  font-weight: bold;
  font-size: 13px;
  margin: 5px 0;
}

.movieCollection .movieItem .release {
  font-family: monospace;
  font-size: 13px;
  color: #ccc;
}

.backbutton {
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #1e7dab;
  border-radius: 50px;
  padding: 5px;
  font-size: 16px;
  background: #1e7dab;
  display: flex;
  width: 60px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25px;
  left: 10px;
}

.backbutton span {
  margin-left: 5px;
  font-size: 11px;
}

.movieInfo {
  display: flex;
  text-align: left;
  justify-content: center;
  margin: 25px 50px;
}

.movieInfo .content {
  margin-left: 30px;
}

.movieInfo .similarMovies {
  display: flex;
}

.movieInfo .similarMovies .movieItem {
  margin: 0 10px;
  width: 125px;
  text-align: center;
}

.movieInfo .similarMovies .movieItem:first-child {
  margin: 0 10px 0 0;
}

.movieInfo .similarMovies .movieItem:last-child {
  margin: 0 0 0 10px;
}

.movieInfo .similarMovies .movieItem img {
  width: 125px;
}

.movieInfo .similarMovies .movieItem .title {
  font-size: 12px;
}

.movieInfo .similarMovies .movieItem .release {
  font-size: 10px;
}

.movieInfo .poster img {
  width: 350px;
}

.movieInfo .title {
  font-size: 30px;
  font-weight: 900;
  margin: 15px 0;
}

.movieInfo .releasedate {
  font-size: 13px;
  color: #ccc;
  margin-bottom: 0px;
}

.movieInfo .overview {
  max-width: 700px;
  min-width: 400px;
  font-family: monospace;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.movieInfo .stats {
  display: flex;
  font-size: 12px;
}

.movieInfo .stats p {
  margin-right: 30px;
}

.movieCast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movieCast .cast {
  width: 150px;
  margin: 20px 10px;
}

.movieCast .cast img {
  width: 150px;
}

.movieCast .castName {
  font-size: 13px;
}

.movieCast .castRole {
  font-size: 12px;
  font-family: monospace;
}
